[Unit]
Description=Fan Controller

[Service]
ExecStartPre=/usr/bin/env ruby -c /usr/local/bin/fan.rb
ExecStart=/usr/local/bin/fan.rb
# StandardOutput=null
Restart=always

[Install]
WantedBy=multi-user.target
